.button,
.input,
.select {
  @include component;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(2px);
  }
}

.select {
  cursor: pointer;
}
