@mixin component {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid $grey-light;
  box-shadow: 0 0 10px $shadow;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 15px $shadow;
  }

  &:active {
    box-shadow: 0 0 10px $shadow;
  }
}
