.table {
  margin: 20px 0 40px;
  overflow: hidden;
}

.resizer {
  background: transparent;
  cursor: col-resize;

  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 2px;

  &:hover {
    background: rgb(99 102 241);
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  position: relative;
  border: solid 1px $grey-light;
  border-style: none solid solid none;
  padding: 10px;
  min-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  background-color: $grey-lighter;
  user-select: none;
}

tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tr:first-child th {
  border-top-style: solid;
}

tr th:first-child,
td:first-child {
  border-left-style: solid;
}
