.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
